# Qt-specific
*.pro.user
*.pro.user.*
*.qmake.stash
moc_*.cpp
qrc_*.cpp
ui_*.h
Makefile*
*build-*
debug/
release/
build
# Compiled Object files
*.slo
*.lo
*.o
*.obj

# Visual Studio specific
.vs/
*.user